
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h3>Unlock Failed</h3>
<h4>You don't have enough tokens to unlock this question.</h4>

<p class="backlink">
    @Html.ActionLink("Back to List", "Index")
</p>